body {
    background-color: beige;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.resumeMain {
    background-color: #282828;
    color: #88878e;
    padding: 20px;
    font-family: Lato;
    font-size: small;
    font-weight: 700;
}

.resumePage {
  display: flex;
  flex-direction: column;
}

.experienceBlock {
  display: flex;
  flex-direction: row;
}

.historyBlock {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}

.section {
  display: flex;
  flex-direction: column;
}

.sectionBar {
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items: center;
  width: auto;
  height: 20px;
  border: .1px solid #373737;
  background-color: #373737;
  gap: 10px;
  
}

.job {
  display: flex;
  flex-direction: column;
}

.jobHeader {
  display: flex;
  flex-direction: row;
}

.skillsBlock {
  display: flex;
  flex-direction: column;
}

.bioBlock {
  display: flex;
  flex-direction: column;
}

.person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #282828;
}

#personPhoto {
    border: 3px solid #313738;
    border-width: auto;
    border-radius: 5% ;
    object-fit: contain;
    width: 15%;
    position: relative;
    transform: scale(-1, 1);
}

.arrowIcon {
  object-fit:fill;
  display: flex;
  justify-content: center;
  object-fit: contain;
  align-items: center;
  max-width: auto;
  max-height: auto;
}

#rightArrowCircleGreen {
  width: 10px;
  height: 10px;
  background-color: #66a23c;
  border-radius: 50%;
  transform:rotate(270deg)
}

#downArrowSquareGreen {
  width: 20px;
  height: 20px;
  background-color: #66a23c;
  border-radius: 10%;
}

#rightArrowCircleBlue {
  width: 10px;
  height: 10px;
  background-color: #45a3d2;
  border-radius: 50%;
  transform:rotate(270deg)
}

#downArrowSquareBlue {
  width: 20px;
  height: 20px;
  background-color: #45a3d2;
  border-radius: 10%;
}

.personBrief {
    width: 15%;
    margin-right: auto;
    padding-left: 10px;
    font-weight: 900;
    flex: auto;
    flex-direction: column;
    align-items: center;
    text-align: left;
    white-space: nowrap;
    padding-top: 20px;
    position: relative;

}

.personBrief>#personName {
    width: auto;
    font-size: 30px;
    text-transform: uppercase;
    color: #f5f6fa;
    
}

h2 {
  width: auto;
  height: auto;
  color: #f5f6fa;
}

#sectionTitle {
    width: auto;
    height: auto;
    text-transform: uppercase;
    color: #f5f6fa;
    font-size: small;
    font-weight: 700;
}

#personOccupation {
    font-size: 15px;
    color: #4485aa;
}

#personDetails {
    width: 15%;
    position: relative;
    flex: auto;
    align-content: center;
    white-space: nowrap;
}

a {
    color: #4485aa;
}

th {
    text-align: right;
    color: #f5f6fa;
    
}

td {
    text-align: left;   
}

#breakLineSolid {
  border: 1px solid #2f2f2f;
}

#breakLineDashed {
  border: 1px dashed #2f2f2f;
}


