.cinzel-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: black;
  display: block;
  justify-items: center;
  color: rgb(255, 243, 243);
  text-shadow: 1px 1px 1px rgb(6, 6, 6);
  padding: 10px;
  font-family: Cinzel;
  font-weight: 500;
}

.mainScreen {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  height: 600px;
  background-image: url(/Assignments/UnforgedLegends/images/stonePattern.jpg);
  background-size: 100%;
  justify-items: center;
  align-items: center;
}

.signOptions {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding-bottom: 10px;
  gap: 10px;
}

.hint {
  position: absolute;
  display: flex;
  text-wrap: nowrap;
  bottom: 0;
}

#carouselExample {
  padding: 50px;
  width: 400px;
  height: 350px;
}

button {
  background-color: rgb(94, 87, 87);
  border-color: rgb(34, 31, 31);
  border-radius: 10%;
  color: rgb(255, 243, 243);
  text-shadow: 1px 1px 1px rgb(6, 6, 6);
  font-family: Cinzel;
  font-weight: 700;
}

a {
  color: rgb(255, 243, 243);
  text-shadow: 1px 1px 1px rgb(6, 6, 6);
}

.carousel-control-prev {
  align-self: center;
}

#dropDownIcon {
  position: absolute;
  top: 10px;
  left: 0px;
}

#collapse-menu {
  font-size: x-small;
  transition: transform 0.3s;
  transform-origin: top;
  transition-delay: 0.2s;
  &:not(:hover) {
    transform: scaleY(0);
  }
}

#menu-icon:hover ~ #collapse-menu {
  transform: scaleY(1);
}

.signIn {
  display: flex;
  position: absolute;
  top: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mainMenuButton {
  width: 300px;
  height: 50px;
  margin: 1%;
}

.charTable tr th {
  text-align: left;
  width: 100px;
}
.charTable tr td {
  text-align: right;
}
.skill > img {
  width: 30px;
  height: 30px;
}
.skill span {
  display: none;
  position: absolute;
  font-size: x-small;
  background: #333;
  opacity: 90%;
  color: #fff;
  text-align: left;
  border: 0.1px solid #070707;
}
.skill:hover span {
  display: flex;
}

#mainLogo {
  width: 300px;
  margin: auto;
  display: grid;
}

.mainMenu {
  display: grid;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
