#mainLogo {
  padding: 10px;
  width: 350px;
  margin: auto;
  display: grid;
}

.mainMenu {
  display: grid;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainMenuButton {
  width: 300px;
  height: 50px;
  margin: 1%;
}
